/* You can add global styles to this file, and also import other style files */
body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: linear-gradient(to right bottom, #274b74, #8233c5, #e963fd);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  
}